<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E161</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/E161.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="vh-100 nav-border">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm m-0 mb-3 p-0 nav-border-bottom">
                <div class="container d-flex align-items-center m-0 px-2 py-2">
                    <h3 class="m-0 p-0 ms-2 me-3">E161</h3>
                    <button class="navbar-toggler nav-border" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <i class="text-green bi bi-list m-0 p-0"></i>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex">
                        <ul class="navbar-nav m-0 p-0">
                            <li class="nav-item mx-2">
                                <a asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a asp-area="" asp-page="/About">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class=" container d-flex flex-column vh-75">
            <main role="main" class="h-100">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer class="footer text-gray">
        <div class="container text-center">
            &copy; 2023 - E161 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>