@page "/"

<PageTitle>Home</PageTitle>

<div class="d-flex align-items-center justify-content-center " style=" height: 80vh;">
    <div class="container">
        <h1 class="display-1">What if</h1>
        <h2 class="animatedText">the principle of a</h2>
        <h2 class="animatedText">push-button phone</h2>
        <h2 class="animatedText">became the basis of</h2>
        <h2 class="animatedText">some kind of</h2>
        <h2 class="animatedText">encryption system?</h2>
    </div>
</div>