@inherits LayoutComponentBase

<PageTitle>E161</PageTitle>

<div class="min-vh-100 nav-border">
<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm m-0 mb-3 p-0 nav-border-bottom">
            <div class="container d-flex align-items-center m-0 px-2 py-2">
                <h3 class="m-0 p-0 ms-2 me-3">E161</h3>
                <div class="navbar-toggler nav-border" @onclick="ToggleNavMenu">
                    <i class="text-green bi bi-list m-0 p-0"></i>
                </div>
                <div class="navbar-collapse collapse @(collapseNavMenu ? "" : "show") d-sm-inline-flex">
                    <ul class="navbar-nav m-0 p-0">
                        <li class="nav-item mx-2">
                            <NavLink href="">Home</NavLink>
                        </li>
                        <li class="nav-item mx-2">
                            <NavLink href="about">About</NavLink>
                        </li>
                        <li class="nav-item mx-2">
                            <NavLink href="encoder-decoder">Encoder-Decoder</NavLink>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
</header>

    <div class="container d-flex flex-column vh-75">
        <main role="main" class="h-100">
            @Body
        </main>
    </div>
</div>

<footer class="footer">
    <div class="container text-center">
        <span class="text-green-75">&copy; 2023 - E161 - </span><a href="/Privacy">Privacy</a>
    </div>
</footer>

@code {
    private bool collapseNavMenu = true;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}