@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
html {
    font-size: 16px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: black;
    color: #00ff19;
    font-family: 'Courier New', Courier, serif;
}


/* ---------------------- a ---------------------- */
a {
    color: #00ff19;
    text-decoration: none;
}

    a:hover {
        color: black;
        background-color: #00ff19;
    }

    a:active {
        color: black;
        background-color: #00ff19;
    }

/* ---------------------- hr.hr-normal ---------------------- */
hr.hr-normal {
    color: #00ff19;
    height: 1px;
    opacity: 1;
}


/* ---------------------- green mainia ---------------------- */

.text-green {
    color: #00ff19;
}

.bg-green {
    background-color: #00ff19;
}

.border-green {
    border-color: #00ff19;
}

/* ---------------------- green% mainia ---------------------- */

.text-green-50 {
    color: #00ff19;
    opacity: 50%;
}

.text-green-75 {
    color: #00ff19;
    opacity: 75%;
}

/* ---------------------- green mainia exclusive for navs ---------------------- */

.nav-border {
    border: 2px #00ff19 solid;
}

.nav-border-bottom {
    border-bottom: 2px #00ff19 solid;
}

.border-custom {
    border: 2px #00ff19 solid;
    border-color: #00ff19;
    background-color: transparent;
    border-radius: 0;
    color: #00ff19;
}

.border-bottom-custom {
    border-bottom: 2px #00ff19 solid;
    border-color: #00ff19;
}


/* ---------------------- button ---------------------- */
button {
    color: #00ff19;
    text-decoration: none;
}

    button:hover {
        color: black;
        background-color: #00ff19;
    }

    button:active {
        color: black;
        background-color: #00ff19;
    }

/* ---------------------- scrollbar ---------------------- */
/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 7px solid transparent;
    background-clip: content-box;
    background-color: #00ff19;
    border-radius: 10px;
}


/* -------------------- custom-elements -------------------- */

.textarea-custom {
    border: 2px #00ff19 solid;
    border-color: #00ff19;
    background-color: transparent;
    border-radius: 0;
    color: #00ff19;
    resize: none;
}

    .textarea-custom:focus {
        border-color: #00ff19;
        background-color: black;
        color: #00ff19;
        outline: none;
        box-shadow: 0 0 0 2px #00ff19;
    }

    .textarea-custom::placeholder {
        color: #00ff19;
        opacity: 75%;
    }


/* -------------------- blazor-original -------------------- */

.valid.modified:not([type=checkbox]) {
    outline: 1px solid red;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: blue;
    bottom: 0;
    box-shadow: 0 -1px 2px red;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    color: red;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
        color: red;
    }

.blazor-error-boundary {
    background: blue;
    padding: 1rem 1rem 1rem 3.7rem;
    color: red;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }
